.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
// instagram
.containerOne:hover {
  background-color: $instagram;
  transition-duration: 0.3s;
}
// twitter
.containerTwo:hover {
  background-color: $twitter ;
  transition-duration: 0.3s;
}

// Whatsapp
.containerFour:hover {
  background-color: $wsp;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: $color1;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

