* {
    background: transparent;
}

body {
    font-family: Arial, sans-serif;
    background-color: $color2 ;
    margin: 0;
    padding: 0;
}

.icon {
  font-size: 120px;
}

//imagen de portada
.imagen {
    width: 99vw; 
    height: calc(100vh - 82px); 
    object-fit: cover; 
    display: block; 
}

.general{
    h2 {
      color: $color1 ;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
}

// grid de imagenes x2
.divisorOne {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  padding: 20px; 
  width: 100%; 
  box-sizing: border-box; 
}
.divisorOne img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
 
.videoRegalos {
  height: 620px;
  width: 100%;
  object-fit: cover;
}

main p {
  color: $color1;
  font-family: 'Open Sans', sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
  font-size: 25px;
}
h1{
  color: $color1;
  text-align: center;
  font-size: 40px;
  font-family: Libre Baskerville
}
h2{
  color: $color1;
  text-align: center;
  font-size: 35px;
  font-family: 'Nunito'
}
h3{
  color: $color1;
  font-size: 25x;
  margin-left: 30px;
  font-family: 'Nunito'
}
#checkboxContainer {
  display: flex;
  margin-left: 50px;
  gap: 30px; 
  color: $color1;
  font-size: 20px;
}

#checkboxContainer label {
  display: block;
  margin-bottom: 5px; 
}

.Contenedores {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  margin-bottom: 20px;
  gap: 20px; 
}

.filtrado,.filtrado3 {
  background-color: $color2;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid $color7; 
}
.filtrado1, .filtrado2 {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid $color8; 

}

.filtrado:first-of-type {
  grid-column: 1 / 2; 
  grid-row: 1; 
}

.filtrado2:first-of-type {
  grid-column: 2 / 3; 
  grid-row: 1; 
}

.filtrado:last-of-type {
  grid-column: 1 / 2; 
  grid-row: 2; 
}

.filtrado2:last-of-type {
  grid-column: 2 / 3; 
  grid-row: 2; 
}

// contenedor de regalos
.contenedorFiltrado {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 80px; 
  margin: 0 auto;
}

#checkboxContainer {
  padding: 20px; 
  border-radius: 5px;
}

.ideaRegaloTitle {
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 70px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  height: 100vh; 
}

.logoImagen {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px; 
}



