* {
  background: transparent;
}

body {
  font-family: Arial, sans-serif;
  background-color: $color2 ;
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 120px;
}

//imagen de portada
.contenedorImagen {
  width: 100%;
}
.imagen {
  width: 100%; 
  height: calc(100vh - 82px); 
  object-fit: cover; 
  display: block; 
}

.general{
    h2 {
      color: $color1 ;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
}

// grid de imagenes x2
.divisorOne {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  padding: 20px; 
  width: 100%; 
  box-sizing: border-box; 
}
.divisorOne img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.videoRegalos {
  height: 620px;
  width: 100%;
  object-fit: cover;
}

main p {
  color: $color1;
  font-family: 'Open Sans', sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
  font-size: 20px;
}

//tipografia
h1{
  color: $color1;
  text-align: center;
  font-size: 40px;
  font-family: Libre Baskerville
}
h2{
  color: $color1;
  text-align: center;
  font-size: 35px;
  font-family: 'Nunito'
}
h3{
  color: $color1;
  font-size: 25x;
  margin-left: 30px;
  font-family: 'Nunito'
}

a {
  text-decoration: none;
  color: $color2;
}

.filtrado {
  background-color: $color2;
  border-radius: 5px;
}

.ideaRegaloTitle {
  text-align: center;
  font-family: Libre Baskerville;
  font-size: 70px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  height: 100vh; 
}

//gift ideas logo swatch
.logoImagen {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px; 
}

.divGeneral {
  display: flex;
}